@import url('https://fonts.googleapis.com/css2?family=Rubik:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,600;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Roboto&display=swap');
@import "../node_modules/bootstrap/scss/bootstrap";



// COLOR DE FLECHAS DE LOS CARROUSELES
:root {
  --swiper-theme-color: #ffffff !important;
}
// FIN





// TODOS LOS BACGROUNDS
body {
  background-color: #1f1f1f;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin: 0;
  font-family: Arial, sans-serif;
}

.login {
  background-color: #000000;
}


.Registro {
  background-color: #000000;
}

.resetpass {
  background-color: #000000;
}

.bg-warning {
  color: #ffc107;
}
// FIN BACGROUNDS







// TODOS LOS TEXTOS
.Texto {
  font-family: "Bebas Neue", sans-serif;
}
.anton {
  letter-spacing: 5px;
  font-family: "Anton SC", sans-serif;
}

.antonparabackend {
  letter-spacing: 2px;
  font-family: "Anton SC", sans-serif;
}

.antonpararecuperar {
  font-family: "Anton SC", sans-serif;
}

.bebas {
  font-family: "Bebas Neue", sans-serif;
}

.texto {
  margin-bottom: -3px;
}
// FIN TEXTOS


// SIDEBARPARAADMIN
.sidebar2 {
  width: 12vw;

  a {
    text-decoration: none;

    &.active {
      background-color: #e9c706;
    }
  }
}

// FIN







// STYLES IMGS
.img {
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.2;
  width: 50%;
}
// FIN IMGS






// TODAS LAS MARGENES
.welcome {
  margin-top: 20%;
}

.welcome-2 {
  margin-top: 25%;
}

.contenido {
  margin-left: 10%;
}

.contenido2 {
  margin-left: 12%;
}
.contenidol {
  margin-left: 3%;
}
// FIN MARGENES





// CREO QUE SON STYLE PARA LA IMAGEN DE LOS BARBEROS
// .zoomhover:hover {
//   transform: scale(4.10);
// }

.zoomhover2:hover {
  transform: scale(1.2);
}

// .containerzoom {
//   overflow: hidden;
//   transition: all 500ms;
// }
// FIN 







// SYLES CODIGO VERIFICACION
.clase-codigo-verificacion {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  border-radius: 15px;
  padding-bottom: 40px;
}

.cuadros {
  border: 1px solid #fbff12;
  background-color: #000000;
  width: 60px;
  height: 60px;
  margin: 9px 5px;
  font-size: 25px;
  text-align: center;
  border-radius: 15px;
  transition: 0.3s;
  border-radius: 100px;
}
// FIN




// STYLE MAPA
.map {
  width: 60%;
}
// FIN 






// DARK AND LIGHT STYLE 

/* Estilos para el modo claro */
body.light {
  background-color: #1f1f1f;
  color: white;
}

/* Estilos para el modo oscuro */
body.dark {
  background-color: white;
  color: #1f1f1f;
}

/* Botón de cambio de tema */
button {
  padding: 2px 5px;
  font-size: 16px;
  cursor: pointer;
  background-color: #1f1f1f;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #1f1f1f;
}

// FIN DARK AND LIGHT 

.icono{
  font-size: 190px; /* Para íconos de texto */
  color: #ffffff;
  margin: 50px;
}
